<!DOCTYPE html>
<html lang="en">
<%- include('../layouts/admin/header.ejs'); -%>

<body class="goto-here">
    <!-- Start nav -->
    <%- include('../layouts/admin/nav.ejs'); -%>
    <!-- END nav -->
    <section class="ftco-section main_admin">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 collapse show d-md-flex bg-light pt-2 pl-0 min-vh-100" id="sidebar">
                  <!-- Start nav_vertical -->
                  <%- include('../layouts/admin/nav_vertical.ejs'); -%>
                  <!-- End nav_vertical -->                            
                </div>
                <div class="col pt-2 add_product">
                    <!-- Thêm sản phẩm -->
                    <section class="ftco-section main_add">
                        <div class="container">
                            <div class="themMoi">
                                <h1>Thêm Mới Sản Phẩm</h1>
                                <form action="/admin/add" method="post" enctype="multipart/form-data">
                                    <input type="text" name="productName" placeholder="Tên Sản Phẩm" />                                    
                                    <br>
                                    <input type="text" name="price" placeholder="Giá (VNĐ)"/>
                                    <br>
                                    <input type="text" name="quality" placeholder="Số Lượng (kg)"/>
                                    <br>
                                    <textarea name="description" placeholder="Mô tả"></textarea> 
                                    <br>
                                    <input type="file" name="productImage">
                                    <br>
                                    <select name="slcCategory" >
                                        <% for(let i = 0; i < data.length; i++) {%>
                                        <option value="<%- data[i]._id %>"><%-data[i].categoryName %></option>
                                        <% }%>
                                    </select>
                                    </br>
                                    <button type="submit" class="btn btn-primary">Thêm</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <!-- Start Footer -->
    <%- include('../layouts/admin/footer.ejs'); -%>
    <!-- End -->

    <!-- loader -->
    <%- include('../layouts/admin/loader.ejs'); -%>
    <!-- end -->

    <!-- Start Script -->
    <%- include('../layouts/admin/script.ejs'); -%>
    <!-- End -->

</body>

</html>