<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body class="goto-here">
	<!-- Start nav -->
	<%- include('./layouts/nav_admin.ejs'); -%>
	<!-- END nav -->
	<section class="ftco-section main_admin">
		<div class="container">
			<h1>Danh Sách Sản Phẩm</h1>
			<div class="themSP"><button  class="btn btn-primary"><a href="./admin/add">Thêm Sản Phẩm</a></button></div>
			<div class="tieude">
				<div class="row">
					<!-- Ten SP -->
					<div class="col-md-2 list">
						<div class="TenSP items">
							<h5>Tên Sản Phẩm</h5>
						</div>
					</div>
					<!-- Gia SP  -->
					<div class="col-md-2 list">
						<div class="GiaSP items">
							<h5>Giá (VNĐ)</h5>
						</div>
					</div>
					<!-- So Luong SP -->
					<div class="col-md-2 list">
						<div class="SoLuongSP items">
							<h5>Số Lượng (Kg)</h5>
						</div>
					</div>
					<!-- Hinh SP -->
					<div class="col-md-3 list">
						<div class="ImageSP items">
							<a href="#" class="img-prod">
								<h5>Hình Ảnh</h5>
							</a>
						</div>
					</div>
					<!-- Hanh dong them--xoa--sua SP -->
					<div class="col-md-3 list">
						<div class="ActSP items">
							<h5>Hành Động</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="danhsach">
				<div class="row">
					<% for(let i = 0; i < product.length; i++) { %>
					<!-- Ten Sp  -->
					<div class="col-md-2 list">
						<div class="TenSP items">
							<a href="#" style="font-weight: bold; color:#393838"><%= product[i].productName %></a>
						</div>
					</div>
					<!-- Gia SP  -->
					<div class="col-md-2 list">
						<div class="Gia items">
							<p class="price"><span class="price-sale"><%= product[i].price %></span> VNĐ</p>
						</div>
					</div>
					<!-- So Luong SP -->
					<div class="col-md-2 list">
						<div class="SoLuongSP items">
							<p class="price"><span class="price-sale"><%= product[i].quality %> </span>kg</p>
						</div>
					</div>
					<!-- Hinh SP -->
					<div class="col-md-3 list">
						<div class="ImageSP">
							<a href="#" class="img-prod">
								<img class="img-fluid" src="./public/upload/<%- product[i].image %>"
									alt="Colorlib Template">
							</a>
						</div>
					</div>
					<!-- Hanh dong them--xoa--sua SP -->
					<div class="col-md-3 list">
						<div class="acts">
							<!-- xóa sản phẩm theo id -->
							<button class="btn btn-primary act"><a href="/admin/delete/<%- product[i].id %>">Xóa Sản
									Phẩm</a></button>
							<!-- sửa sản phẩm theo id -->
							<button class="btn btn-primary act"><a href="/admin/edit/<%- product[i].id %>">Sửa Sản
									Phẩm</a></button>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</section>
	<!-- Start Footer -->
	<%- include('./layouts/footer.ejs'); -%>
	<!-- End -->

	<!-- loader -->
	<%- include('./layouts/loader.ejs'); -%>
	<!-- end -->

	<!-- Start Script -->
	<%- include('./layouts/script.ejs'); -%>
	<!-- End -->

</body>

</html>