<form action="/account/editProfile" method="POST" enctype="multipart/form-data">
    <!-- hidden nó sẽ không hiện ra màn hình , 
        1. Đầu tiên , không ai đi hiện id ra , nên sẽ hidden đi
        2. Sẽ dùng nó để truyền id qua bên kia , để biết nó sẽ update thằng nào
        -->
    <input type="hidden" name="idUser" value="<%- dataUser._id %>" />
    <input type="text" name="name" placeholder="Họ tên" value="<%-dataUser.name %>" /></br>
    </br>
    <input type="text" name="email" placeholder="Địa chỉ email" value="<%- dataUser.email %>" /></br>
    </br>
    <input type="text" name="username" placeholder="Tên đăng nhập" value="<%-dataUser.username %>" /></br>
    <input type="password" name="newPassword" placeholder="Mật khẩu mới" /></br>
    <input type="password" name="re_NewPassword" placeholder="Nhập lại mật khẩu" /></br>
    <input type="text" name="address" placeholder="Địa chỉ nhà" value="<%-dataUser.address %>" /></br>
    <input type="text" name="phone" placeholder="Số điện thoại" value="<%-dataUser.phone %>" /></br>
    <br>
    </br>
    <img src="/public/upload/<%- dataUser.image %>" alt="" class="img-fluid" width="100">
    <input type="file" name="avatar"></br>
    </br>
    <!-- Khi bấm nút sửa , cái route này sẽ post dữ liệu về đường dẫn mà mình khai báo ở action -->
    <input type="submit" value="Sửa">
</form>