<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body class="goto-here">
	<!-- Start nav -->
	<%- include('./layouts/nav.ejs'); -%>
	<!-- END nav -->

	<section id="home-section" class="hero">
		<div class="home-slider owl-carousel">
			<div class="slider-item" style="background-image: url(./public/images/bg_1.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

						<div class="col-sm-12 ftco-animate text-center">
							<h1 class="mb-2">100% Thực Phẩm Tươi &amp; Chất Lượng</h1>
							<h2 class="subheading mb-4">Chúng Tôi Cung Cấp Rau Tươi, Trái Cây Và Nhiều Thứ Khác Nữa
							</h2>
							<p><a href="/sanpham" class="btn btn-primary">Mua ngay</a></p>
						</div>

					</div>
				</div>
			</div>

			<div class="slider-item" style="background-image: url(./public/images/bg_2.jpg);">
				<div class="overlay"></div>
				<div class="container">
					<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

						<div class="col-sm-12 ftco-animate text-center">
							<h1 class="mb-2">100% Thực Phẩm Tươi &amp; Chất Lượng</h1>
							<h2 class="subheading mb-4">Chúng Tôi Cung Cấp Rau Tươi, Trái Cây Và Nhiều Thứ Khác Nữa
							</h2>
							<p><a href="/sanpham" class="btn btn-primary">Mua ngay</a></p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-shipped"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Miễn Phí Vận Chuyển</h3>
							<span>Đơn Hàng trên 200.000 VNĐ</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-diet"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Tươi Ngon</h3>
							<span>Đóng Gói Sản Phẩm Siêu Xịn</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-award"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Chất Lượng Cao</h3>
							<span>Nói không với thuốc trừ sâu</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
							<span class="flaticon-customer-service"></span>
						</div>
						<div class="media-body">
							<h3 class="heading">Hỗ Trợ</h3>
							<span>Luôn hỗ trợ khách hàng</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-category ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-6 order-md-last align-items-stretch d-flex">
							<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
								style="background-image: url(./public/images/category.jpg);">
								<div class="text text-center">
									<h2>Vegefoods</h2>
									<p>Nâng cao chất lượng sống cho mọi nhà</p>
									<p><a href="/sanpham" class="btn btn-primary">Mua Ngay</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
								style="background-image: url(./public/images/category-1.jpg);">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="#">Rau</a></h2>
								</div>
							</div>
							<div class="category-wrap ftco-animate img d-flex align-items-end"
								style="background-image: url(./public/images/category-2.jpg);">
								<div class="text px-3 py-1">
									<h2 class="mb-0"><a href="#">Trái Cây</a></h2>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
						style="background-image: url(./public/images/category-3.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="#">Nước Ép</a></h2>
						</div>
					</div>
					<div class="category-wrap ftco-animate img d-flex align-items-end"
						style="background-image: url(./public/images/category-4.jpg);">
						<div class="text px-3 py-1">
							<h2 class="mb-0"><a href="#">Hạt</a></h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-3 pb-3">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Sản Phẩm Của Chúng Tôi</span>
					<p>Dưới đây là những sản phẩm nổi bật của các bật tiền bối "Thăm Ngàn"!</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<% for(let i = 0; i < product.length; i++) { %>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="/sanpham/<%- product[i]._id %>" class="img-prod"><img class="img-fluid" src="./public/upload/<%- product[i].image %>"
								alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							
							<h3><a href="/sanpham/<%- product[i]._id %>" style="font-weight: bold; color:#393838"><%= product[i].productName %></a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span class="price-sale"><%=String(product[i].price).replace(/(.)(?=(\d{3})+$)/g,'$1,') %> VNĐ</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="/sanpham/<%- product[i]._id %>"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
			
		</div>

		<!-- Start Footer -->
		<%- include('./layouts/footer.ejs'); -%>
		<!-- End -->

		<!-- loader -->
		<%- include('./layouts/loader.ejs'); -%>
		<!-- end -->

		<!-- Start Script -->
		<%- include('./layouts/script.ejs'); -%>
		<!-- End -->

</body>

</html>