<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body class="goto-here">
  <!-- Start nav -->
  <%- include('./layouts/nav.ejs'); -%>
  <!-- END nav -->

  <section id="home-section" class="hero mb-5">
    <div class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url(../public/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-sm-12 ftco-animate text-center">
              <h1 class="mb-2">Đăng Nhập</h1>
              <h2 class="subheading mb-4">Chúng Tôi Cung Cấp Rau Tươi, Trái Cây Và Nhiều Thứ Khác Nữa</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url(../public/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-sm-12 ftco-animate text-center">
              <h1 class="mb-2">100% Thực Phẩm Tươi &amp; Chất Lượng</h1>
              <h2 class="subheading mb-4">Chúng Tôi Cung Cấp Rau Tươi, Trái Cây Và Nhiều Thứ Khác Nữa </h2>
              <p><a href="#" class="btn btn-primary">Xem Thêm</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--================login_part Area =================-->
  <section class="login_part section_padding">
    <div class="container">
      <h2 class="welcome">Chào mừng bạn đến với <span>Vegefoods !!!</span></h2>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="login_part_text text-center">
            <div class="login_part_text_iner">
              <h2>Bạn chưa có Tài Khoản?</h2>
              <p>Để mua được sản phẩm hay sử dụng các chức năng xịn xò khác của chúng tôi! Bạn chỉ cẩn</p>
              <button class="createAccount"><a href="/account/register">Tạo Tài Khoản</a></button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="login_part_form">
            <div class="login_part_form_iner">
              <h3> Đăng Nhập</h3>
              <!-- <div class="icon_mxh mb-2">
                                    <ul class="ftco-footer-social">
                                      <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a> hoặc </li>
                                      <li class="ftco-animate"><a href="https://facebook.com/shino1011"><span class="icon-facebook"></span></a> hoặc </li>
                                      <li class="ftco-animate"><a href="https://instagram.com/shino1011"><span class="icon-instagram"></span></a></li>
                                    </ul>
                                  </div> -->

              <form class="row form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-12 form-group inputBox">
                  <input type="text" class="form-control" id="username" name="username" value=""
                    placeholder="Tên Tài Khoản">
                </div>
                <div class="col-md-12 form-group inputBox">
                  <input type="password" class="form-control" id="password" name="password" value=""
                    placeholder="Mật khẩu">
                </div>
                <div class="col-md-12 form-group">
                  <!-- <div class="create_account d-flex align-items-center">
                                            <input type="checkbox" id="f-option" name="selector">
                                            <label for="f-option">Nhớ tôi vào lần sau!</label>
                                        </div> -->
                  <button type="submit" value="submit" class="btnLogin">
                    Đăng Nhập
                  </button>
                  <p class="forgetPassword">Quên Mật Khẩu? <a class="lost_pass" href="forget_password.html">Nhấn vào
                      đây</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================login_part end =================-->

  <!-- Start Footer -->
  <%- include('./layouts/footer.ejs'); -%>
  <!-- End -->

  <!-- loader -->
  <%- include('./layouts/loader.ejs'); -%>
  <!-- end -->

  <!-- Start Script -->
  <%- include('./layouts/script.ejs'); -%>
  <!-- End -->

</body>

</html>