<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>

<body class="goto-here">
  <!-- Start nav -->
  <%- include('./layouts/nav.ejs'); -%>
  <!-- END nav -->

  <section id="home-section" class="hero mb-5">
    <div class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url(../public/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-sm-12 ftco-animate text-center">
              <h1 class="mb-2">Đăng Kí</h1>
              <h2 class="subheading mb-4">Chúng Tôi Cung Cấp Rau Tươi, Trái Cây Và Nhiều Thứ Khác Nữa</h2>
            </div>

          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url(../public/images/bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-sm-12 ftco-animate text-center">
              <h1 class="mb-2">100% Thực Phẩm Tươi &amp; Chất Lượng</h1>
              <h2 class="subheading mb-4">Chúng Tôi Cung Cấp Rau Tươi, Trái Cây Và Nhiều Thứ Khác Nữa </h2>
              <p><a href="#" class="btn btn-primary">Xem Thêm</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--================login_part Area =================-->
  <section class="login_part section_padding">
    <div class="container">
      <h2 class="welcome">Chào mừng bạn đến với <span>Register !!!</span></h2>
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
          <div class="login_part_form">
            <div class="login_part_form_iner">
              <form class="form" action="/account/register" method="post" novalidate="novalidate" enctype="multipart/form-data">
                <div class="col-md-12 form-group inputBox">
                  <input type="text" class="form-control" id="name" name="name" value="" placeholder="Họ Tên">
                </div>
                <div class="col-md-12 form-group inputBox">
                  <input type="text" class="form-control" id="email" name="email" value=""
                    placeholder="Địa chỉ email">
                </div>
                <div class="col-md-12 form-group inputBox">
                  <input type="text" class="form-control" id="username" name="username" value="" placeholder="Tên đăng nhập">
                </div>

                <div class="col-md-12 form-group inputBox">
                  <input type="password" class="form-control" id="password" name="password" value=""
                    placeholder="Mật khẩu">
                </div>
                <div class="col-md-12 form-group inputBox">
                  <input type="password" class="form-control" id="confirm_password" name="confirm_password" value=""
                    placeholder="Nhập lại mật khẩu">
                </div>
                <div class="col-md-12 form-group inputBox">
                  <input type="text" class="form-control" id="address" name="address" value="" placeholder="Địa chỉ nhà">
                </div>
                <div class="col-md-12 form-group inputBox">
                  <input type="text" class="form-control" id="phone" name="phone" value="" placeholder="Số điện thoại ">
                </div>
                <input type="file" name="avatar">
                </br>
                <div class="col-md-12 form-group">
                  
                  <button type="submit" value="submit" class="btnRegister">Đăng Kí
                  </button>
                  <p class="forgetPassword">Bạn đã có tài khoản ? Trở lại trang <a class="lost_pass" href="login">Đăng
                      Nhập</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================login_part end =================-->

  <!-- Start Footer -->
  <%- include('./layouts/footer.ejs'); -%>
  <!-- End -->

  <!-- loader -->
  <%- include('./layouts/loader.ejs'); -%>
  <!-- end -->

  <!-- Start Script -->
  <%- include('./layouts/script.ejs'); -%>
  <!-- End -->

</body>

</html>