<!DOCTYPE html>
<html lang="en">
<!-- Start header -->
<%- include('./layouts/header.ejs'); -%>
<!-- End -->

<body class="goto-here">
	<!-- Start nav -->
	<%- include('./layouts/nav.ejs'); -%>
	<!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image: url('./public/images/bg_1.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span>
					</p>
					<h1 class="mb-0 bread">Products</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 mb-5 text-center">
					<ul class="product-category">
						<!-- danh mục sản phẩm -->
						<li><a href="/sanpham" class="active">All</a></li>
						<% category.forEach(cha => { %>
							<li><a href="/sanpham/danhmuc/<%- cha._id %>"><%-cha.categoryName %></a></li>
						<% }) %>
					</ul>
					<form action="/sanpham" method="GET">
						<input type="text" name="search" placeholder="Tìm kiếm">
						<input type="submit" value="Search">
					</form>
				</div>
			</div>
			<div class="row">
				<% for(let i = 0; i < product.length; i++) { %>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="/sanpham/<%= product[i]._id %>" class="img-prod"><img class="img-fluid"
								src="./public/upload/<%- product[i].image %>" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">

							<h3><a href="/sanpham/<%= product[i]._id %>"
									style="font-weight: bold; color:#393838"><%= product[i].productName %></a></h3>
							<div class="d-flex">
								<div class="pricing">
									<p class="price"><span
											class="price-sale"><%=String(product[i].price).replace(/(.)(?=(\d{3})+$)/g,'$1,') %>
											đ</span></p>
								</div>
							</div>
							<div class="bottom-area d-flex px-3">
								<div class="m-auto d-flex">
									<a href="/sanpham/<%= product[i]._id %>"
										class="add-to-cart d-flex justify-content-center align-items-center text-center">
										<span><i class="ion-ios-menu"></i></span>
									</a>
									<a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
										<span><i class="ion-ios-cart"></i></span>
									</a>
									<a href="#" class="heart d-flex justify-content-center align-items-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
			<div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<ul>
							<!-- <li><a href="">&lt;</a></li> -->
							<% for(let i = 1 ; i <= totalPage; i++) { %>
							<li><span><a href="/sanpham?page=<%- i %>"><%- i %></a></span></li>
							<% }%>
							<!-- <li><a href="#">&gt;</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- Start footer -->
	<%- include('./layouts/footer.ejs'); -%>
	<!-- End -->


	<!-- loader -->
	<%- include('./layouts/loader.ejs'); -%>
	<!-- end -->


	<!-- Start script -->
	<%- include('./layouts/script.ejs'); -%>
	<!-- End script -->

</body>

</html>
